.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ff4f52;
    border-radius: 10px;
    padding: 50px 30px 50px 30px;

    @media screen and (max-width: 467px) {
        flex-direction: column-reverse;
        background: #262d33;
    }
    @media screen and (min-width: 468px) {
        flex-direction: row;
        margin-bottom: 25px;
    }
    @media screen and (min-width: 1024px) {
        flex-direction: row;
        margin-bottom: 35px;
    }

    &__info {
        max-width: 500px;
        text-align: center;
        margin-right: 20px;
    }

    &__title {
        color: #ffc4c9;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 10px;

        @media screen and(max-width: 468px) {
            color: #939699;
        }
    }

    &__description {
        color: #ffffff;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 25px;
        text-transform: uppercase;
    }
    &__img {
        background: #99082d;
        border-radius: 50%;
        overflow: hidden;
        min-width: 254px;

        @media screen and (max-width: 468px) {
            background: rgba(147, 150, 153, 0.5);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
